Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
data = pd.Series([4,8,15,16,23,42])
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
Then, print the DataFrame.

In [4]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Paris", "London"]
}
df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [9]:
print(''''Ans: A DataFrame is a 2-dimensional, tabular data structure with rows and columns,
 while a Series is 1-dimensional and represents a single column or list.''')

 # Series
series = pd.Series([1, 2, 3])
print("Series: \n")
print(series)
print('\n')
# DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print("Dataframes: \n")
print(df)

'Ans: A DataFrame is a 2-dimensional, tabular data structure with rows and columns,
 while a Series is 1-dimensional and represents a single column or list.
Series:

0    1
1    2
2    3
dtype: int64


Dataframes:

   A  B
0  1  4
1  2  5
2  3  6

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

### `Ans: Common functions: head(), tail(), describe(), groupby(), apply(), merge()`.

`df.groupby("Region")["Sales"].sum()`

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans:

Series, DataFrame, and Panel are all mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
s1 = pd.Series([1, 2, 3])
s2 = pd.Series(["A", "B", "C"])
df = pd.DataFrame({"Numbers": s1, "Letters": s2})
print(df)

   Numbers Letters
0        1       A
1        2       B
2        3       C