# Q1. List any five functions of the pandas library with execution.

# Ans:

head(): Displays the first few rows of the DataFrame.

In [1]:
import pandas as pd
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print(df.head())

   A  B
0  1  4
1  2  5
2  3  6

tail(): Displays the last few rows of the DataFrame.

In [2]:
print(df.tail())

   A  B
0  1  4
1  2  5
2  3  6

info(): Provides information about the DataFrame.

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes
None

describe(): Summarizes numerical data in the DataFrame.

In [4]:
print(df.describe())

         A    B
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0

dropna(): Removes rows with missing values.

In [5]:
df = pd.DataFrame({"A": [1, None, 3], "B": [4, 5, None]})
print(df.dropna())

     A    B
0  1.0  4.0

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the

In [6]:
def reindex_dataframe(df):
    df.index = range(1, len(df) * 2, 2)
    return df
reindex_dataframe(df)

     A    B
1  1.0  4.0
3  NaN  5.0
5  3.0  NaN

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console. For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [7]:
def sum_first_three(df):
    # Ensure 'Values' column exists
    if 'Values' not in df.columns:
        print("The DataFrame does not have a 'Values' column.")
        return

    # Calculate the sum of the first three values
    total = 0
    for i, value in enumerate(df['Values']):
        if i < 3:
            total += value
        else:
            break
    print("Sum of the first three values:", total)

In [8]:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
sum_first_three(df)

Sum of the first three values: 60

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [9]:
def add_word_count(df):
    # Ensure 'Text' column exists
    if 'Text' not in df.columns:
        print("The DataFrame does not have a 'Text' column.")
        return df

    # Add the 'Word_Count' column
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

In [10]:
data = {'Text': ['This is a test', 'Another row here', 'Pandas is great']}
df = pd.DataFrame(data)
df = add_word_count(df)
print(df)

               Text  Word_Count
0    This is a test           4
1  Another row here           3
2   Pandas is great           3

# Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size:

Represents the total number of elements in the DataFrame.

It is calculated as the product of the number of rows and the number of columns.

Returns: An Integer

In [11]:

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print("Size:", df.size)

Size: 6

DataFrame.shape:

Represents the dimensionality of the DataFrame.

It returns a tuple (number_of_rows, number_of_columns).

Returns: A tuple.

In [12]:
print("Shape:", df.shape)

Shape: (3, 2)

# Q6. Which function of pandas do we use to read an excel file?



```
pd.read_excel(io, sheet_name=0, ...)
```

Read an Excel file

df = pd.read_excel('file.xlsx', sheet_name='Sheet1')

print(df)

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [13]:
def extract_username(df):
    # Ensure 'Email' column exists
    if 'Email' not in df.columns:
        print("The DataFrame does not have an 'Email' column.")
        return df

    # Add 'Username' column by splitting at '@'
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

# sample
data = {'Email': ['john.doe@example.com', 'jane.smith@domain.org', 'user123@test.net']}
df = pd.DataFrame(data)
df = extract_username(df)
print(df)

                   Email    Username
0   john.doe@example.com    john.doe
1  jane.smith@domain.org  jane.smith
2       user123@test.net     user123

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Assignment

Data Science Masters

Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [14]:
def filter_rows(df):
    # Apply conditions to filter rows
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df

# Example usage
data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}
df = pd.DataFrame(data)

result = filter_rows(df)
print(result)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [15]:
def calculate_statistics(df):
    # Ensure 'Values' column exists
    if 'Values' not in df.columns:
        print("The DataFrame does not have a 'Values' column.")
        return

    # Calculate statistics
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()

    # Print the results
    print(f"Mean: {mean}")
    print(f"Median: {median}")
    print(f"Standard Deviation: {std_dev}")

# sample
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
calculate_statistics(df)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [16]:
def add_moving_average(df):
    # Ensure the DataFrame has the required columns
    if 'Sales' not in df.columns or 'Date' not in df.columns:
        print("The DataFrame must have 'Sales' and 'Date' columns.")
        return df

    # Sort by 'Date' to ensure correct order
    df = df.sort_values('Date')

    # Calculate the moving average with a window size of 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Example usage
data = {
    'Date': pd.date_range(start='2023-01-01', periods=10, freq='D'),
    'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
}
df = pd.DataFrame(data)

result = add_moving_average(df)
print(result)

        Date  Sales  MovingAverage
0 2023-01-01     10           10.0
1 2023-01-02     20           15.0
2 2023-01-03     30           20.0
3 2023-01-04     40           25.0
4 2023-01-05     50           30.0
5 2023-01-06     60           35.0
6 2023-01-07     70           40.0
7 2023-01-08     80           50.0
8 2023-01-09     90           60.0
9 2023-01-10    100           70.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [17]:
def add_weekday(df):
    # Ensure 'Date' column exists
    if 'Date' not in df.columns:
        print("The DataFrame must have a 'Date' column.")
        return df

    # Convert 'Date' column to datetime format if not already
    df['Date'] = pd.to_datetime(df['Date'])

    # Create the 'Weekday' column by extracting the weekday name
    df['Weekday'] = df['Date'].dt.strftime('%A')

    return df

# Example usage
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

result = add_weekday(df)
print(result)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [18]:
def filter_dates(df):
    # Ensure 'Date' column exists
    if 'Date' not in df.columns:
        print("The DataFrame must have a 'Date' column.")
        return df

    # Convert 'Date' column to datetime format if it's not already
    df['Date'] = pd.to_datetime(df['Date'])

    # Define the date range
    start_date = '2023-01-01'
    end_date = '2023-01-31'

    # Filter the DataFrame for rows where the date is within the specified range
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

    return filtered_df

# Example usage
data = {'Date': ['2023-01-01', '2023-01-05', '2023-02-01', '2023-01-15', '2023-01-30']}
df = pd.DataFrame(data)

result = filter_dates(df)
print(result)

        Date
0 2023-01-01
1 2023-01-05
3 2023-01-15
4 2023-01-30

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

`import pandas as pd`

This allows you to use pandas functions and classes, such as DataFrame, Series, read_csv(), mean(), etc., by referencing the alias pd.